@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 79% 51%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 208 79% 51%;
    --primary-foreground: 255 100% 98%;
    --primary-light: 212 81% 96%;

    --secondary: 255 100% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 60%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72% 51%;
    --destructive-foreground: var(--secondary);

    --success: 152 81% 96%;
    --success-foreground: 161 94% 30%;

    --light-red: 0 86% 97%;
    --accent-red: var(--destructive);

    --light-amber: 48 100% 96%;
    --amber-pending: 32 95% 44%;

    --hover-gray: 198 37% 92%;
    --cool-gray: 198 16% 84%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 250 73% 78%;

    --radius: 0.5rem;

    --neutral-black: 0 0% 13%;
    --darker-gray: 200 10% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
